<div id="profile-page" class="section">
    <!-- profile-page-header -->
    <div id="profile-page-header" class="card">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="http://demo.geekslabs.com/materialize-v1.0/images/user-profile-bg.jpg" alt="user background">
        </div>
        <figure class="card-profile-image">
            <img src="http://localhost:3000/files/user/{{user.id}}" alt="profile image" class="circle z-depth-2 responsive-img activator">
        </figure>
        <div class="card-content">
            <div class="row">
                <div class="col s3 offset-s2">
                    <h4 class="card-title grey-text text-darken-4">{{user.firstName}} {{user.secondName}} {{user.surname}} {{user.secondSurname}}</h4>
                    <p class="medium-small grey-text">{{user.gender}}</p>
                </div>
                <div class="col s2 center-align">
                    <a class="waves-effect waves-light btn"><i class="mdi-maps-rate-review left"></i>Agregar</a>
                </div>
                <div class="col s2 center-align">
                    <a class="waves-effect waves-light btn"><i class="mdi-maps-rate-review left"></i>Mensaje</a>
                </div>
            </div>
        </div>
    </div>
    <!--/ profile-page-header -->

    <!-- profile-page-content -->
    <div id="profile-page-content" class="row">
        <!-- profile-page-sidebar-->
        <div id="profile-page-sidebar" class="col s12 m4">
            <!-- Profile About  -->
            <div class="card light-blue">
                <div class="card-content white-text">
                    <span class="card-title">¿Por qué vivir conmigo?</span>
                    <p>{{user.interests}}</p>
                </div>
            </div>
            <!-- Profile About  -->

            <!-- Profile About Details  -->
            <ul id="profile-page-about-details" class="collection z-depth-1">
                <li class="collection-item">
                    <div class="row">
                        <div class="col s5 grey-text darken-1"><i class="mdi-social-cake"></i> Correo electrónico</div>
                        <div class="col s7 grey-text text-darken-4 right-align">{{user.email}}</div>
                    </div>
                </li>
                <li class="collection-item">
                    <div class="row">
                        <div class="col s5 grey-text darken-1"><i class="mdi-action-wallet-travel"></i> Celular</div>
                        <div class="col s7 grey-text text-darken-4 right-align">{{user.cellphone}}</div>
                    </div>
                </li>
                <li class="collection-item">
                    <div class="row">
                        <div class="col s5 grey-text darken-1"><i class="mdi-social-domain"></i> Lives in</div>
                        <div class="col s7 grey-text text-darken-4 right-align">NY, USA</div>
                    </div>
                </li>
                <li class="collection-item">
                    <div class="row">
                        <div class="col s5 grey-text darken-1"><i class="mdi-social-cake"></i> Fecha de nacimiento</div>
                        <div class="col s7 grey-text text-darken-4 right-align">{{user.birthday}}</div>
                    </div>
                </li>
            </ul>
            <!--/ Profile About Details  -->

            <!-- Profile About  -->
            <div class="card amber darken-2">
                <div class="card-content white-text center-align">
                    <p class="card-title"><i class="mdi-social-group-add"></i> 3685</p>
                    <p>Followers</p>
                </div>
            </div>
        </div>

        <!-- profile-page-wall -->
        <div id="profile-page-wall" class="col s12 m8">
            <!-- profile-page-wall-share -->
            <div id="profile-page-wall-share" class="row">
                <div class="col s12">
                    <ul class="tabs tab-profile z-depth-1 light-blue" style="width: 100%;">

                        <li class="tab col s4"><a class="white-text waves-effect waves-light" href="#AddPhotos"><i class="mdi-image-camera-alt"></i> Agregar publicación</a>
                        </li>
                        <div class="indicator" style="right: 1060px; left: 0px;"></div>
                    </ul>
                    <!-- UpdateStatus-->
                    <div id="UpdateStatus" class="tab-content col s12  grey lighten-4">
                        <div class="row">
                            <div class="col s2">
                                <img [src]="user.pathPhoto" alt="" class="circle responsive-img valign profile-image-post">
                            </div>
                            <div class="input-field col s10">
                                <textarea id="textarea" row="2" class="materialize-textarea"></textarea>
                                <label for="textarea" class="">Descripción</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 m6 right-align">
                                <a class="waves-effect waves-light btn"><i class="mdi-maps-rate-review left"></i>Publicar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ profile-page-wall-share -->

            <!-- profile-page-wall-posts -->
            <div id="profile-page-wall-posts" class="row" *ngFor="let r of room">
                <div class="col s12">
                    <!-- medium -->
                    <div id="profile-page-wall-post" class="card">
                        <div class="card-profile-title">
                            <div class="row">
                                <div class="col s1">
                                    <img src="http://localhost:3000/files/user/{{user.id}}" alt="" class="circle responsive-img valign profile-post-uer-image">
                                </div>
                                <div class="col s10">
                                    <p class="grey-text text-darken-4 margin">{{user.firstName}}</p>
                                    <span class="grey-text text-darken-1 ultra-small">Shared publicly  -  26 Jun 2015</span>
                                </div>
                                <div class="col s1 right-align">
                                    <i class="mdi-navigation-expand-more"></i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <h4>{{r.reference}}</h4>
                                    <p>Descripción: {{r.description}}</p>
                                    <p>Precio: {{r.price}}</p>
                                    <p>Puntos: {{r.rating}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-image profile-medium">
                            <img src="http://localhost:3000/files/room/{{r.id}}" alt="sample" class="responsive-img profile-post-image profile-medium">
                            <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-action row">
                            <div class="col s4 card-action-share">
                                <a href="#">Like</a>
                            </div>
                            <div class="col s2 center-align">
                                <a class="waves-effect waves-light btn" routerLink="/reports/report-user"><i class="mdi-maps-rate-review left"></i>Reportar</a>
                            </div>

                            <div class="input-field col s8 margin">
                                <input id="profile-comments" type="text" class="validate margin">
                                <label for="profile-comments" class="">Comments</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>