#profile-page-header .card-image {
    height: 250px;
}

img.responsive-img,
video.responsive-video {
    max-width: 100%;
    height: auto;
}

.circle {
    border-radius: 50%;
}

.z-depth-2 {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
    border: 0;
}

.profile-page-header .card-profile-image {
    width: 110px;
    position: absolute;
    top: 190px;
    z-index: 1;
    left: 40px;
    cursor: pointer;
    margin: 0;
}