<!-- NAVBAR DE PUBLICATION, HOME -->

<nav>
    <div class="nav-wrapper #757575 grey darken-1">
        <a routerLink="/home" class="brand-logo"><i class="material-icons">home</i>VIVIENDA COMPARTIDA</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li *ngIf="!user.isLogged">
                <a routerLink="/security/login"><i class="material-icons left">person</i>INICIAR SESIÓN</a>
            </li>
            <li *ngIf="user.isLogged">
                <a class="dropdown-trigger" data-target="publicationID">
            Publication<i class="material-icons right">arrow_drop_down</i>
          </a>
            </li>
        </ul>




        <!-- DROPDOWN CONTENT DE PUBLICATION -->

        <ul id="publicationID" class="dropdown-content">
            <li><a routerLink="/parameters/publication-creation">Publication Creation</a></li>
            <li><a routerLink="/parameters/publication-edition">Publication Edition</a></li>
            <li><a routerLink="/parameters/publication-list">Publication List</a></li>
            <li><a routerLink="/parameters/publication-remove">Publication Remove</a></li>
        </ul>



        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>



    </div>

</nav>