<div id="login-page" class="row">
    <div class="col s12 z-depth-6 card-panel">
        <form [formGroup]="fgValidator" class="login-form">
            <div class="row">
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">lock_outline</i>
                    <input class="validate" formControlName="userPassword" id="userPassword" type="password">
                    <label for="userPassword" data-error="wrong" data-success="right">Contraseña actual</label>
                    <div class="warning-validator" *ngIf="fgv.userPassword.errors && (fgv.userPassword.dirty || fgv.userPassword.touched)">
                        <strong *ngIf="fgv.userPassword.errors.required">
                            La contraseña actual es requerida.
                        </strong>
                    </div>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix">lock_outline</i>
                    <input class="validate" formControlName="newPassword" id="newPassword" type="password">
                    <label for="newPassword" data-error="wrong" data-success="right">Nueva contraseña</label>
                    <div class="warning-validator" *ngIf="fgv.newPassword.errors && (fgv.newPassword.dirty || fgv.newPassword.touched)">
                        <strong *ngIf="fgv.newPassword.errors.required">
                            La nueva contraseña es requerida.
                        </strong>
                        <strong *ngIf="fgv.newPassword.errors.minlength">
                            La nueva contraseña debe tener mínimo {{passwordMinLength}} caracteres.
                        </strong>
                    </div>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix">lock_outline</i>
                    <input class="validate" formControlName="newPassword2" id="newPassword2" type="password">
                    <label for="newPassword2" data-error="wrong" data-success="right">Confirmar nueva contraseña</label>
                    <div class="warning-validator" *ngIf="fgv.newPassword2.errors && (fgv.newPassword2.dirty || fgv.newPassword2.touched)">
                        <strong *ngIf="fgv.newPassword2.errors.required">
                            Confirma la nueva contraseña.
                        </strong>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <button (click)="ChangePasswordFn()" class="btn waves-effect waves-light" type="button" name="action">Cambiar
                        <i class="material-icons right">send</i>
                      </button>
                </div>
            </div>
        </form>
    </div>
</div>