<div id="login-page" class="row">
    <div class="col s12 z-depth-6 card-panel">
        <form [formGroup]="fgValidator" class="login-form">
            <div class="row">
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">mail_outline</i>
                    <input class="validate" formControlName="email" id="email" type="email">
                    <label for="email" data-error="wrong" data-success="right">Email</label>
                    <div class="warning-validator" *ngIf="fgv.email.errors && (fgv.email.dirty || fgv.email.touched)">
                        <strong *ngIf="fgv.email.errors.required">
                            Este campo es requerido.
                        </strong>
                        <strong *ngIf="fgv.email.errors.email">
                            Email incorrecto.
                        </strong>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">lock_outline</i>
                    <input formControlName="password" id="password" type="password">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <button (click)="LoginUserFn()" class="btn waves-effect waves-light" type="button" name="action">Login
                        <i class="material-icons right">send</i>
                      </button>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6 m6 l6">
                    <p class="margin medium-small"><a routerLink="/user/register">Register Now!</a></p>
                </div>
                <div class="input-field col s6 m6 l6">
                    <p class="margin right-align medium-small"><a routerLink="/security/reset-password">Forgot password?</a></p>
                </div>
            </div>

        </form>
    </div>
</div>